
[mysqld]
# 基本配置
port = 3308
socket = D:\\code\\T_H_DBS\\infra\\mysql\\mysql_data\\mysql.sock

# 数据目录配置
datadir = D:\\code\\T_H_DBS\\infra\\mysql\\mysql_data\\data
tmpdir = D:\\code\\T_H_DBS\\infra\\mysql\\mysql_data\\tmp
secure_file_priv = D:\\code\\T_H_DBS\\infra\\mysql\\mysql_data\\uploads

# 日志配置
log-error = D:\\code\\T_H_DBS\\infra\\mysql\\mysql_data\\ENHEALTH.err
pid-file = D:\\code\\T_H_DBS\\infra\\mysql\\mysql_data\\mysql.pid

# 字符集配置
character-set-server = utf8mb4
collation-server = utf8mb4_unicode_ci
default_time_zone = '+08:00'

# 性能配置
max_connections = 100
innodb_buffer_pool_size = 128M

# 安全配置
bind-address = 0.0.0.0

[mysql]
default-character-set = utf8mb4

[client]
default-character-set = utf8mb4
socket = D:\\code\\T_H_DBS\\infra\\mysql\\mysql_data\\mysql.sock
